
@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<hr />
<br />

@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<br />




@foreach (var category in ViewBag.Categories)
{
    
    <div class="col-md-6">
        <div class="categorie">
                <h4>@category.CategoryName</h4>
                <div class="d-flex flex-row justify-content-between">
                    <a class="btn btn-secondary" href="/Categories/Show/@category.Id">Afisare categorie</a>
                    <a class="btn btn-outline-secondary" href="/Categories/Edit/@category.Id">Editare categorie</a>
                    <form method="post" action="/Categories/Delete/@category.Id">

                        <button class="btn btn-danger" type="submit">Sterge categoria</button>

                    </form>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-secondary" href="/Categories/New">Adauga o noua categorie</a>
<br />