@model Proiect.Models.ApplicationUser



@using (Html.BeginForm(actionName: "Edit", controllerName: "Users",
      method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{
    <i class="bi bi-card-list"></i>
    <label>Selectati rolul</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Modifica drepturi</button>


}
